#container {
  display: grid;
  /* grid-template-columns: 30% 30% 30%; */
  /* grid-template-columns: 1fr 2fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  max-width: 960px;
  margin: 0 auto;
  grid-gap: 1rem;
}

#container div {
  background: #3bbced;
  padding: 30px;
}

#container div:nth-child(even) {
  background: #777;
  padding: 30px;
}
