#home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 960px;
  margin: 0 auto;
  grid-gap: 1rem;
}

#home div {
  background: #3bbced;
  padding: 30px;
}

#home div:nth-child(even) {
  background: #777;
  padding: 30px;
}
