:root {
  --space: 1.5em 0;
  --space: 2em 0;
  --primary: #001f3f;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
    padding-top: 0; /* Needed for netlify*/
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

body{
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
a, p{
  color: var(--primary);
}

a{
  text-decoration: none;
}

h1{
  font-size: 3rem;
}

img{
  width: 100%;
}

/* navbar */
nav h1{
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

nav .social{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
}

nav li{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase
}